.container{
    padding-top: 200px;
    width: 100%;
    min-height: calc(100vh - 450px);
    background-color: var(--textMainColor);
    align-items: center;
    display: flex;
    flex-direction: column;
    h2{
        color: var(--mainColor);
    }
    .block{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        .course{
            width: 300px;
            height: 300px;
            border-radius: 20px;
            background-size: cover;
            transition: transform .2s;
            &:hover{
                transform: scale(1.5);
                z-index: 3;
            }
            .cover{
                display: flex;
                border-radius: 20px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                color: var(--textMainColor);
                span{
                    margin: 0 5px;
                    font-size: 20px;
                    background-color: rgba(255, 255, 255, 0.76);
                    border-radius: 15px;
                    padding:0 5px;
                    color: black;
                }
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            p{
                width: 80%;
            }
        }
    }
}