.container {
  width: 100%;
  height: 200px;
  position: fixed;
  z-index: 2;

  .infoBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    color: var(--textMainColor);
    background-color: var(--mainColor);
    .logo{
      display: flex;
      flex-direction: row;
      font-size: 24px;
      gap: 20px;
      align-items: center;
      .logoText{
        width: 100px;
      }
      .adminPanel{
        border-radius: 10px;
        border: 1px solid white;
        padding: 20px;
      }
    }

    .contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 120px;
    background-color: var(--secondColor);
    .navLink{
      text-decoration: none;
      color: black;
      padding: 0 50px;

    }
    .navLinkActive{
      background-color: rgba(84, 81, 87, 0.58);
      padding: 5px 10px;
      border-radius: 20px;
      text-decoration: none;
      color: white;
    }
  }
}