body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --mainColor: rgb(110, 22, 124);
  --secondColor: rgb(229, 227, 227);
  --textMainColor: rgb(255, 255, 255);
  --textSecondColor: rgba(214, 223, 237, 0.67);
  --textErrorColor: #ff4141;
}
